
// Note that the order in the aggregating file is important
//
// 1. custom variables file: Due to the way sass default works, 
//    the custom variable file must be imported before the platform theme 
//    aggregating file (where the platform variable file will be imported).
// 2. platform theme aggregating file

// import custom variable overrides
// @import "bookstore.web.settings";

// import alta aggregating file
@import "../../../../node_modules/@oracle/oraclejet/dist/scss/alta/oj-alta";

@import 'helpers/flex';
$color-bs-primary: #0984e3;

header.oj-web-applayout-header{
  background-color: $color-bs-primary;
  color: white;

  .oj-web-applayout-header-title{
    color: white;
  }

  .oj-navigationlist-item-label, .oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item:not(.oj-disabled) a.oj-navigationlist-item-content > .oj-navigationlist-item-label{
    color: white;
  }

  .oj-navigationlist-item-icon, .oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item:not(.oj-disabled):not(.oj-hover):not(.oj-selected) .oj-navigationlist-item-icon{
    color: white;
  }

  .oj-navigationlist-app-level.oj-navigationlist-horizontal:not(.oj-navigationlist-icon-only) .oj-navigationlist-item.oj-selected:not(.oj-hover) .oj-navigationlist-item-icon{
    color: white;
  }

  li.oj-navigationlist-item-element.oj-navigationlist-item.oj-selected{
    border-bottom-color: white;
  }

  .oj-button-jqui.oj-default.oj-button-half-chrome, .oj-button-jqui.oj-focus-only.oj-button-half-chrome, .oj-button.oj-default.oj-button-half-chrome .oj-button-button, .oj-button.oj-focus-only.oj-button-half-chrome .oj-button-button{
    color: white;
  }

  .oj-button.oj-default.oj-button-half-chrome .oj-button-icon, .oj-button.oj-focus-only.oj-button-half-chrome .oj-button-icon{
    color: white;
  }
}