<div class="oj-flex">
  <div class="oj-sm-4 oj-flex-item">
    <div>
      <oj-label for="title" class="oj-label">Title</oj-label>
      <oj-input-text id="title" value="{{book.title}}"></oj-input-text>
    </div>
    <div>
      <oj-label for="author" class="oj-label">Author</oj-label>
      <oj-input-text id="author" value="{{book.author}}"></oj-input-text>
    </div>
    <div>
      <oj-label for="price" class="oj-label">Price</oj-label>
      <oj-input-text id="price" value="{{book.price}}"></oj-input-text>
    </div>
  </div>
  <div class="oj-sm-8 oj-flex-item">
    Hello World
  </div>
</div>